<!--====== Start Header ======-->
<header
  class="template-header navbar-center absolute-header bordered-header nav-border-bottom sticky-header"
>
  <div class="container-fluid container-1600">
    <div class="header-inner">
      <div class="header-left">
        <div class="branding-and-language-selection branding-border-right">
          <div class="brand-logo">
            <a href="/">
              <img src="assets/logo/5.png" alt="logo" />
            </a>
          </div>
          <div class="language-selection bg-transparent d-none d-md-block">
            <select name="language">
              <option value="en">English</option>
              <option value="mr">Moroccan</option>
            </select>
          </div>
        </div>
      </div>
      <div class="header-center">
        <nav class="nav-menu d-none d-xl-block">
          <ul>
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>

            <!-- <li>
              <a href="">Services<span class="dd-trigger"></span></a>

              <ul class="sub-menu">
                <li><a href="">Our Services</a></li>
                <li><a href="">Service Details</a></li>
              </ul>
            </li> -->
          </ul>
        </nav>
      </div>
      <div class="header-right">
        <ul class="header-extra">
          <li class="d-none d-sm-block">
            <a href="/login" class="user-login user-login-border-right">
              <i class="far fa-lock-open-alt"></i> Login
            </a>
          </li>
          <li class="d-none d-lg-block">
            <a href="/register" class="template-btn primary-bg-6">
              Sign Up <i class="fas fa-arrow-right"></i>
            </a>
          </li>
          <li class="d-xl-none">
            <a href="#" class="navbar-toggler">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Start Mobile Slide Menu -->
  <div class="mobile-slide-panel">
    <div class="panel-overlay"></div>
    <div class="panel-inner">
      <div class="mobile-logo">
        <a href="/">
          <img src="assets/logo/4.png" alt="ChamaFinance" />
        </a>
      </div>
      <nav class="mobile-menu">
        <ul>
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/products">Products</a>
          </li>

          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">Sign Up</a>
          </li>

          <li class="d-xl-none">
            <a href="#" class="navbar-toggler">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </li>
        </ul>
      </nav>
      <a href="#" class="panel-close">
        <i class="fal fa-times"></i>
      </a>
    </div>
  </div>
  <!-- End Mobile Slide Menu -->
</header>
<!--====== End Header ======-->
