<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Business Loan - Chama Finance</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/logo/logo.png" type="img/png" />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!--====== Slick Slider ======-->
    <link rel="stylesheet" href="assets/css/slick.min.css" />
    <!--====== Magnific ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <!--====== Nice Select ======-->
    <link rel="stylesheet" href="assets/css/nice-select.min.css" />
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <!--====== Jquery UI CSS ======-->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
    <!--====== Font Awesome ======-->
    <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.min.css" />
    <!--====== Flaticon ======-->
    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css" />
    <!--====== Spacing Css ======-->
    <link rel="stylesheet" href="assets/css/spacing.min.css" />
    <!--====== Main Css ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--====== Responsive CSS ======-->
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>

  <body>
    <!--======= Start Preloader =======-->
    <div id="preloader">
      <img
        class="preloader-image"
        width="60"
        src="assets/logo/logo.png"
        alt="preloader"
      />
    </div>
    <!--======= End Preloader =======-->

    <!--====== Start Header ======-->
    <header
      class="template-header navbar-center absolute-header bordered-header nav-border-bottom sticky-header"
    >
      <div
        class="container-fluid container-1600"
        style="background-color: #16171b"
      >
        <div class="header-inner">
          <div class="header-left">
            <div class="branding-and-language-selection branding-border-right">
              <div class="brand-logo">
                <a href="/">
                  <img src="assets/logo/5.png" alt="logo" />
                </a>
              </div>
              <div class="language-selection bg-transparent d-none d-md-block">
                <select name="language">
                  <option value="en">English</option>
                  <option value="mr">Moroccan</option>
                </select>
              </div>
            </div>
          </div>
          <div class="header-right">
            <nav class="nav-menu d-none d-xl-block">
              <ul>
                <li>
                  <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/products">Products</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!-- Start Mobile Slide Menu -->
      <div class="mobile-slide-panel">
        <div class="panel-overlay"></div>
        <div class="panel-inner">
          <div class="mobile-logo">
            <a href="/">
              <img src="assets/logo/4.png" alt="ChamaFinance" />
            </a>
          </div>
          <nav class="mobile-menu">
            <ul>
              <li class="active">
                <a href="/dashboard">Dashboard</a>
              </li>

              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/products">Products</a>
              </li>
            </ul>
          </nav>
          <a href="#" class="panel-close">
            <i class="fal fa-times"></i>
          </a>
        </div>
      </div>
      <!-- End Mobile Slide Menu -->
    </header>
    <!--====== End Header ======-->

    <!-- Start Search From -->
    <div
      class="modal fade search-area"
      id="search-modal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form>
            <input type="text" placeholder="Search here..." />
            <button class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <!-- End Search From -->

    <!--====== Page title area Start ======-->
    <section class="page-title-area" style="margin-top: 80px">
      <div class="container">
        <div class="page-title-content text-center">
          <h1 class="page-title">Request Business Loan</h1>
          <ul class="breadcrumb-nav">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/request">Select Type</a></li>
            <li class="active">Business Loan</li>
          </ul>
        </div>
      </div>
      <div class="page-title-effect d-none d-md-block">
        <img
          class="particle-1 animate-zoom-fade"
          src="assets/img/particle/particle-1.png"
          alt="particle One"
        />
        <img
          class="particle-2 animate-rotate-me"
          src="assets/img/particle/particle-2.png"
          alt="particle Two"
        />
        <img
          class="particle-3 animate-float-bob-x"
          src="assets/img/particle/particle-3.png"
          alt="particle Three"
        />
        <img
          class="particle-4 animate-float-bob-y"
          src="assets/img/particle/particle-4.png"
          alt="particle Four"
        />
        <img
          class="particle-5 animate-float-bob-y"
          src="assets/img/particle/particle-5.png"
          alt="particle Five"
        />
      </div>
    </section>
    <!--====== Page title area End ======-->

    <!--====== Start Form Area ======-->
    <section class="p-t-130 p-b-130">
      <div class="container">
        <div class="justify-content-lg-start justify-content-center">
          <div class="contact-form-area m-t-md-100">
            <div class="common-heading tagline-boxed m-b-40">
              <h2 class="title">Please Fill Up the Form Below ↓<br /></h2>
            </div>
            <div class="contact-form-v2">
              <form
                action="#"
                name="contactForm"
                id="contactForm"
                method="post"
                novalidate
              >
                <div class="form-group input-field m-b-30">
                  <input
                    type="number"
                    id="amount"
                    placeholder="How much would you like? Maximum 100,000"
                    name="amount"
                    required
                    data-error="Enter an amount!"
                  />
                  <label for="amount">Amount</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="months"
                    placeholder="For How Many Months? Maximum 12"
                    name="months"
                  />
                  <label for="months">Months</label>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="number"
                    id="amount"
                    placeholder="Monthly Revenue"
                    name="amount"
                    required
                    data-error="Enter an amount!"
                  />
                  <label for="amount">Revenue</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="number"
                    id="amount"
                    placeholder="Other Income"
                    name="amount"
                    required
                    data-error="Enter a Value!"
                  />
                  <label for="amount">Income</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="number"
                    id="amount"
                    placeholder="Other Loan Repayments"
                    name="amount"
                    required
                    data-error="Enter a value!"
                  />
                  <label for="amount">Repay</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Reason For Borrowing ( Must Apply Any of these → Invoice Discounting, Order Financing, Working Capital, Other )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Reason</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Are you the founder or director in the business? ( Yes/No )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Boolean</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Is your business registered?  ( Yes/No )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Boolean</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Do your business has an active bank/mobile money account?  ( Yes/No )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Boolean</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Do you have a 6 months bank/ mobile money statement for your business?  ( Yes/No )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Boolean</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Are you a Zambian citizen/resident?  ( Yes/No )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Boolean</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group input-field m-b-30">
                  <input
                    type="text"
                    id="amount"
                    placeholder="Do you have a copy of your ID ?  ( Yes/No )"
                    name="amount"
                    required
                    data-error="Enter a Reason!"
                  />
                  <label for="amount">Boolean</label>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group mb-0 input-field">
                  <button type="submit" class="template-btn">
                    Submit Request <i class="fas fa-arrow-right"></i>
                  </button>
                  <div id="msgSubmit" class="hidden"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== Start Footer ======-->
    <footer
      class="template-footer footer-bordered"
      style="background-color: #16171b"
    >
      <div class="container">
        <div class="footer-widgets">
          <div class="row">
            <div class="col-lg-5 col-md-10">
              <div class="footer-widget-left">
                <!-- Single Footer Widget -->
                <div class="widget text-block-widget">
                  <img src="assets/logo/5.png" alt="footer logo" />
                  <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam nihile consequatur vel illum qui dolorem eum
                    fugiate.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="row footer-widget-right">
                <!-- Single Footer Widget -->
                <div class="col-lg-4 col-sm-6">
                  <div class="d-lg-flex justify-content-start">
                    <div class="widget nav-widget">
                      <h5 class="widget-title">Resources</h5>
                      <ul>
                        <li><a href="/products">Products</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-lg-4 col-sm-6">
                  <div class="d-lg-flex justify-content-center">
                    <div class="widget nav-widget">
                      <h5 class="widget-title">Company</h5>
                      <ul>
                        <li><a href="/about">About Us</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-lg-4 col-sm-6">
                  <div class="d-lg-flex justify-content-end">
                    <div class="widget nav-widget">
                      <h5 class="widget-title">Support</h5>
                      <ul>
                        <li><a href="#">Privacy Policy</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-sm-auto col-12 order-lg-last">
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
            <div class="col-sm-auto col-12">
              <p class="copyright-text text-center text-sm-right pt-4 pt-sm-0">
                © 2022 <a href="/">Chama Finance</a>. All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--====== End Footer ======-->

    <!--====== End Footer ======-->

    <!--====== Jquery ======-->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!--====== Bootstrap ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--====== Slick slider ======-->
    <script src="assets/js/slick.min.js"></script>
    <!--====== Magnific ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== Isotope Js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!--====== Jquery UI Js ======-->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!--====== Inview ======-->
    <script src="assets/js/jquery.inview.min.js"></script>
    <!--====== Nice Select ======-->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!--====== Wow ======-->
    <script src="assets/js/wow.min.js"></script>
    <!--====== Main JS ======-->
    <script src="assets/js/main.js"></script>
    <!--Form Validation-->
    <script src="assets/js/validateForms.js"></script>
  </body>
</html>
